
@import url("../../.cache/wal/colors-waybar.css");

window#osd {
  border-radius: 55px;
  border: 2px solid @color1;
  background: alpha(@color8, 0.55);

  #container {
    margin: 16px;
  }

  image,
  label {
    color: @color1;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough,
  segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@color1, 0.5);
  }
  progress,
  segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @color1;
  }

  segment {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}
