@import '.cache/wal/colors-waybar.css';

@define-color bg              @color8;
@define-color accent          @color1;

window {
    background: alpha(@bg, .55);
    border-radius: 10px;
    padding: 40px;
}

#input {
    padding: 12px 20px;
    border-radius: 40px;
    background-color: transparent;
    color: @accent;
}

#entry {
    border-radius: 40px;
}

#entry:selected {
    background-color: @accent;
    color: @bg;
    border-radius: 40px;
}

#text:selected,
#img:selected {
    background-color: transparent;
}

#inner-box {
    margin: 20px;
}

#img {
    margin: 10px;
}
